<div class="dialog-header">
  <h2 mat-dialog-title>Зміна паролю</h2>
  <button mat-dialog-close class="close-button">
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="passwordChangeForm" (ngSubmit)="submitForm()" class="registration-form">
  <mat-form-field appearance="fill" class="full-width">
    <input matInput placeholder="Поточний пароль" formControlName="oldPassword" [type]="passwordHiddenOld ? 'password' : 'text'" id="oldPasswordInput">
    <button mat-icon-button matSuffix type="button" (click)="toggleOldPasswordVisibility()">
      <mat-icon>{{ passwordHiddenOld ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="passwordChangeForm.get('oldPassword')?.hasError('required')">Поле не має бути порожнім</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Новий пароль" formControlName="newPassword" [type]="passwordHidden ? 'password' : 'text'" id="newPasswordInput">
    <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
      <mat-icon>{{ passwordHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="passwordChangeForm.get('newPassword')?.hasError('required') && !passwordChangeForm.get('newPassword')?.hasError('minlength') && !passwordChangeForm.get('newPassword')?.hasError('noUpperCase') && !passwordChangeForm.get('newPassword')?.hasError('noNumber') && !passwordChangeForm.get('newPassword')?.hasError('noSpecialChar')">Поле не має бути порожнім</mat-error>
    <mat-error *ngIf="passwordChangeForm.get('newPassword')?.hasError('minlength') && !passwordChangeForm.get('newPassword')?.hasError('noUpperCase') && !passwordChangeForm.get('newPassword')?.hasError('noNumber') && !passwordChangeForm.get('newPassword')?.hasError('noSpecialChar')">Розмір паролю має бути мінімум 8 знаків</mat-error>
    <mat-error *ngIf="passwordChangeForm.get('newPassword')?.hasError('noUpperCase') && !passwordChangeForm.get('newPassword')?.hasError('noNumber') && !passwordChangeForm.get('newPassword')?.hasError('noSpecialChar')">Має містити мінімум одну велику літеру</mat-error>
    <mat-error *ngIf="passwordChangeForm.get('newPassword')?.hasError('noNumber') && !passwordChangeForm.get('newPassword')?.hasError('noSpecialChar')">Має містити мінімум одну цифру</mat-error>
    <mat-error *ngIf="passwordChangeForm.get('newPassword')?.hasError('noSpecialChar')">Має містити мінімум один спеціальний символ</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Підтвердження паролю" formControlName="confirmPassword" [type]="passwordHiddenConfirm ? 'password' : 'text'" id="confirmPasswordInput">
    <button mat-icon-button matSuffix type="button" (click)="toggleConfirmPasswordVisibility()">
      <mat-icon>{{ passwordHiddenConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="passwordChangeForm.get('confirmPassword')?.hasError('required')">Поле не має бути порожнім</mat-error>
    <mat-error *ngIf="passwordChangeForm.hasError('passwordMismatch')">Паролі не збігаються</mat-error>
  </mat-form-field>
  <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
  <div class="button-div">
    <button class="password-change" mat-button [disabled]="passwordChangeForm.invalid">Змінити пароль</button>
  </div>
</form>
