.dialog-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  font-weight: bold;
  margin-bottom: 30px;
}

  .dialog-header h2 {
    margin: 0;
    color: white;
    text-align: center;
  }

.close-button {
  background-color: transparent;
  border: none;
  color: white;
  margin: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}

  .close-button:hover mat-icon {
    color: lightgrey;
  }

.full-width {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button-div {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

  .button-div button {
    margin: 0;
  }

.error-message {
  text-align: center;
  margin-bottom: 10px;
  color: red;
}

.registration-form {
  padding-left: 30px;
  padding-right: 30px;
}

.registration-button {
  color: #333;
  border: 1px solid #333;
  padding: 8px 16px;
  transition: all 0.3s ease;
}

  .registration-button:hover {
    background-color: #333;
    color: white;
  }

  .registration-button:disabled {
    border-width: 0.5px;
  }

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
  display: none;
}


.password-change {
  color: #333;
  border: 1px solid #333;
  padding: 8px 16px;
  transition: all 0.3s ease;
  opacity: 1;
}

  .password-change:hover {
    background-color: #333;
    color: white;
  }

  .password-change:disabled {
    border-width: 0.5px;
    opacity: 0.6; 
  }

  opacity: 0.6;
