<div class="navbar">
  <div class="logo">
    <a href="#">Головна</a>
  </div>
  <div class="nav-buttons">
    <button class="acc_circle" mat-icon-button (click)="isLoggedIn() ? toggleLoginMenu() : openLoginDialog()">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button class="cart" mat-icon-button class="cart-button" (click)="toggleCart()">
      <mat-icon>shopping_cart</mat-icon>
      <div class="cart-item-count" *ngIf="cartItemCount > 0">{{ cartItemCount }}</div>
    </button>
  </div>
</div>
<div *ngIf="showLoginMenu && isLoggedIn()" class="login-menu">
  <div>{{ userFirstName }}</div>
  <div (click)="toggleLoginMenu()" routerLink="/cabinet">Особистий кабінет</div>
  <div (click)="logout()">Вихід з акаунту</div>
</div>
<app-cart *ngIf="showCart"></app-cart>

