.footer {
  background-color: #333;
  color: white;
  padding: 15px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .footer-content a {
    text-decoration: none;
    color: white;
  }

  .footer-content .social-icons {
    font-size: 24px;
  }

 .footer-content .social-icons a {
   margin-right: 10px;
 }

