.category-container {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.table-container {
  position: relative;
  margin-right: 80px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.form-fields {
  width: 100%;
}

.form-field {
  width: 100%;
  margin-bottom: 10px;
}

.add-category-button {
  position: absolute;
  top: -30px;
  right: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  max-width: 200px;
  word-wrap: break-word;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.form-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

  .form-buttons button {
    margin: 0 10px;
  }

.std-btn, .add-category-button, .cancel-btn {
  color: #333;
  border: 1px solid #333;
  transition: all 0.3s ease;
  margin: 0 10px; 
}

.std-btn, .cancel-btn {
  padding: 8px 16px;
}

  .std-btn:hover, .add-category-button:hover, .cancel-btn:hover {
    background-color: #333;
    color: white;
  }

.file-upload-container {
  position: relative;
  width: 130px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

input[type="file"] {
  position: relative;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.file-input-label {
  width: 130px;
  height: 100%;
  line-height: 40px;
  text-align: center;
  background-color: #F5F5F5;
  border: 2px solid #999;
  border-radius: 4px;
  cursor: pointer;
}

  .file-input-label:hover {
    background-color: #ddd;
  }

.sort-indicator {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.asc {
  border-bottom: 5px solid black;
}

.desc {
  border-top: 5px solid black;
}
