.uuu {
  width: 100%;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.side-panel {
  width: 200px;
  background-color: #333;
  color: white;
  transition: width 0.3s;
  padding-top: 30px;
  padding-bottom: 30px;
}

  .side-panel:hover {
    width: 225px;
  }

  .side-panel ul {
    list-style-type: none;
    padding: 0;
  }

    .side-panel ul li {
      padding: 10px;
      transition: background-color 0.3s;
      text-align: center;
      font-size: 18px;
    }

      .side-panel ul li:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.1);
      }

      .side-panel ul li a {
        text-decoration: none;
        color: white;
      }

.main-content {
  flex: 1;
  padding: 20px;
}
