.log-container {
  margin-top: 10px;
}

.log-line {
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  width: 800px;
}

p:nth-child(1){
    margin-right: 20px;
}

.clear-button {
  background-color: white;
  border: 1px solid #333;
  padding: 8px 16px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 15px;
}

  .clear-button:hover {
    background-color: #333;
    color: white;
  }

  .clear-button:disabled {
    border-width: 0.5px;
  }
