.payment-success {
    text-align: center;
    margin-top: 50px;
}

    .payment-success h1 {
        font-size: 2.5em;
    }

    .payment-success p {
        font-size: 1.4em;
    }

.return-button {
    color: #333;
    border: 1px solid #333;
    padding: 8px 16px;
    transition: all 0.3s ease;
}

    .return-button:hover {
        background-color: #333;
        color: white;
    }
